body {
    font-family: Garamond, serif;
}

#button {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
p {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 24px;
}
li {
    font-size: 15px;
    padding: 2px;
}

li:not(:last-child) {
    margin-bottom: 3px;
}

a:hover {
    color: red;
    background: #eff;
    border-radius: 15px;
}
h1 {
    color: solid black;
    padding: 10px;      
}   

.flex-container {
    display: flex;
    width: 70%;
    margin: auto;
}

.flex-child {
    flex: 1;
    border: 2px solid black;
    border-radius: 15px;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.flex-container2 {
    display: flex;
    width: 70%;
    margin: auto;
}

.flex-child2 {
    flex: 1;
    border: 2px solid black;
    border-radius: 15px;
}  


.center {
    margin: auto;
    width: 70%;
    border: 3px solid black;
    padding: 10px;
    border-radius: 15px;
  }

  input[type=text] {
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 28px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }