#button {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
p {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 24px;
}
p1 {
    font-size: 10px;
}
a:hover {
    color: red;
    background: #eff;
    border-radius: 15px;
}
h1 {
    color: solid black;
    padding: 10px;      
}   

  .flex-container {
    display: flex;
    width: 70%;
    margin: auto;
}

.flex-child {
    flex: 1;
    border: 2px solid black;
    border-radius: 15px;
}  

.flex-child:first-child {
    margin-right: 20px;
} 
.center {
    margin: auto;
    width: 70%;
    border: 3px solid black;
    padding: 10px;
    border-radius: 15px;
  }