<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bookings App</title>
    <link rel="stylesheet" href='/staticFiles/style.css' />
</head>

<body>
    <div class="center">
        <div class="center" style="background-color: #EEE; padding:5px; width: fit-content; border-radius: 15px;
        ">
            <h1>Bookings</h1>
        </div>

        <br>
        <br>
        
        <div class="flex-container">

            <div class="flex-child green">
                <a href="/viewBookings" style="font-size: 24px">View Bookings</a>
            </div>
        
        </div>
        
        <br>

        <div class="flex-container">

            <div class="flex-child green">
                <a href="/createBooking" style="font-size: 24px">Create a Booking</a>
            </div>
        
        </div>

        <br>

        <div class="flex-container">

            <div class="flex-child green">
                <a href="/retrieveBooking" style="font-size: 24px">Retrieve a Booking</a>
            </div>
        
        </div>
        
        <br>

        <div class="flex-container">

            <div class="flex-child green">
                <a href="/updateBooking" style="font-size: 24px">Update a Booking</a>
            </div>
        
        </div>

        <br>

        <div class="flex-container">

            <div class="flex-child green">
                <a href="/deleteBooking" style="font-size: 24px">Delete a Booking</a>
            </div>
        
        </div>


    </div>
</body>

</html>
