<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bookings App</title>
    <link rel="stylesheet" href='/staticFiles/style.css' />
</head>

<body>
    <div class="center">
        <div class="center" style="background-color: #EEE; padding:5px; width: fit-content; border-radius: 15px;
        ">
            <h1>Bookings Site</h1>
        </div>

        <br>
        <br>

        <div class="flex-container">

            <div class="flex-child magenta">
                <a href="/displayOpenings" style="font-size: 24px">View Availabilities</a>
            </div>
            
            <div class="flex-child green">
                <a href="/bookingsPage" style="font-size: 24px">Bookings</a>
            </div>
        
        </div>
        
    </div>
</body>

</html>
