<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bookings App</title>
    <link rel="stylesheet" href='/staticFiles/style.css' />
</head>

<body>
    <div class="center">
        <div class="center" style="background-color: #EEE; padding:5px; width: fit-content; border-radius: 15px;">
            <h1>Update a Booking</h1>
        </div>

        <br>
        <div>
            <h1>Choose a booking to update:</h1>
        </div>
        <br>

        <div class="flex-container">

            <form action="/updateBookingQuery" method="post">
                <label for="updateid">TicketID to Update:</label><br>
                <input type="text" id="updateid" name="updateid"><br>
     
                <label for="newRideID">New RideID:</label><br>
                <input type="text" id="newRideID" name="newRideID"><br>
     
                <input type="submit" value="Submit">
            </form>
        
        </div>
        
        <br>
        <br>

        <div class="flex-container2">

            <div class="flex-child2 magenta">
                <p>Availabilities</p>
                    <ul>
                        {% for key in openings%}
                        <li>{{key}}</li>
                        {% endfor %}            
                    </ul>    
                </div>
           
        </div>
    </div>
    
        <br>
        <br>
        
        <div class="center" style="background-color: #EEE; padding:5px; width: fit-content; border-radius: 15px;">
            <a href="/">Home</a>
        </div>

</body>

</html>
